.App {
  text-align: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: top left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-HG {
  width: 70%;
}

.App-UL {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.App-DR {
  width: 12%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media only screen and (min-width: 979.1px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 1280px;
    top: 200px;
  }
  .App-UL {
    width: 200px;
  }
}

.container {
  margin: auto;
  float: none;
  background-color: aqua;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
