.App {
  text-align: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: top left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-HG {
  width: 70%;
}

.App-UL {
  max-width: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.App-DR {
  max-width: 100%;
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.LargeNames {
  font-size: calc(10px + 4vmin);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: Garamond;
}

.container {
  margin: 25% auto 0 auto;
  float: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  line-height: 2em;
  font-size: calc(10px + 1vmin);
}

P {
  margin: 2em;
}

.App-link {
  color: #61dafb;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 640px;
    margin: 10% auto 0 auto;
  }
  .App-UL {
    left: 15%;
    width: 40%;
  }
  .App-DR {
    right: 15%;
    width: 12%;
  }
  .LargeNames {
    font-size: calc(10px + 4vmin);
  }
}
