html {
  text-align: center;
}

.App-UL {
  max-width: 100%;
  width: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.App-DR {
  max-width: 100%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.App-QR {
  max-width: 100%;
  width: 30%;
}

.LargeNames {
  font-size: calc(10px + 4vmin);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
}

.container {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.article {
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 0%;
  position: relative;
  z-index: 100;
  justify-content: center;
  text-align: center;
  line-height: 2em;
  font-size: calc(10px + 1vmin);
}

p {
  margin: 2em;
  background-color: white;
  width: fit-content;
  text-align: center;
  align-content: center;
}

a {
  color: green;
}
a:hover {
  color: red;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 1024px;
    height: auto;
    margin: 0 auto;
  }
  .App-UL {
    left: 0;
    width: 40%;
  }
  .App-DR {
    right: 0;
    width: 12%;
  }
  .LargeNames {
    font-size: calc(10px + 4vmin);
  }
}
