html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  background-color: grey;
}

.App-UL {
  max-width: 100%;
  width: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.App-DR {
  max-width: 100%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.LargeNames {
  font-size: calc(15px + 4vmin);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
}

.container {
  flex: 1; /* Allows container to expand and fill available space, pushing bottom elements down */
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15%;
  padding: 20% 0;
  position: relative;
  z-index: 2;
  text-align: center;
  line-height: 2em;
  font-size: calc(10px + 1vmin);
}

p {
  display: table;
  margin: 10px auto;
  padding: 5px;
  color: black;
  overflow: hidden;

  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white,
    0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}

p.signup {
  font-size: calc(15px + 1vmin);
}

a {
  color: green;
}
a:hover {
  color: red;
}

.cell {
  width: 50px;
  height: 50px;
  background: white;

  display: grid;
  justify-items: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    height: auto;
    margin: 0 auto;
  }
  .LargeNames {
    font-size: calc(20px + 4vmin);
  }
}
